.parallax-bg {
    position: absolute;
    transition: filter 0.3s ease;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 1470px) {
        filter: blur(10px);
    }
}