@use '../../base/variables';

.accordion {
    padding-bottom: 50px;

    &:not(:last-child) {
        border-bottom: 2px solid variables.$gray-300-color;
    }
}

.accordion-top {
    gap: 45px;
    cursor: pointer;

    &__title {
        user-select: none;
    }
}

.accordion-top__title,
.accordion-body__text {
    max-width: 715px;
}

.accordion-body {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height .3s ease;

    &__text {
        padding-top: 20px;
    }
}