html,
body,
#root,
.App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 18px;
    line-height: 25px;
    color: $accent-600-color;
    @extend %prompt-400;
}

.logo {
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    @extend %poppins-400;
}

h1 {
    font-size: 80px;
    line-height: 88px;
    color: $accent-700-color;
}

h2 {
    font-size: 70px;
    line-height: 77px;
}

h3 {
    font-size: 45px;
    line-height: 50px;
}

h4 {
    font-size: 35px;
    line-height: 38px;
}

.button {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 20px 35px;

    font-size: 16px;
    line-height: 22px;
    @extend %poppins-400;

    transition: all 0.3s ease;

    &--accent {
        color: $white-color;
        background-color: $accent-500-color;

        &:hover {
            color: $accent-500-color;
            background-color: $white-color;
        }
    }

    &--secondary {
        color: $accent-700-color;
        background-color: rgba($white-color, 0.4);
        border: 2px solid rgba($white-color, 0.4);
        box-shadow: 0px 4px 20px rgba($gray-color, 0.3);

        &:hover {
            color: $white-color;
            background-color: $accent-500-color;
            border: 2px solid rgba($accent-500-color, 0.4);
            box-shadow: 0px 4px 20px rgba($accent-500-color, 0.3);
        }
    }
}
