$accent-700-color: #1A1930;
$accent-600-color: #2D2B5C;
$accent-500-color: #6259EA;
$carminу-pink-color: #EA5959;
$white-color: #FFF;
$gray-color: #C1C1C1;
$gray-300-color: #E7E5FF;

%prompt-400 {
    font-family: 'Prompt';
    font-weight: 400;
}

%poppins-400 {
    font-family: 'Poppins';
    font-weight: 400;
}