@import "reset";
@import "fonts";
@import "vars";
@import "global";

* {
    appearance: none;
}

.header {
    padding: 35px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &::before {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(10px);
    }
}

.header-nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__item-link {
        color: $accent-700-color;
        transition: color 0.3s ease;
        &:hover {
            color: $carminу-pink-color;
        }
    }
}

.footer {
    padding: 85px 0 65px;
    background-color: $accent-700-color;
    z-index: 0;

    a:hover {
        color: $white-color;
    }

    &__inner {
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 50%;
            right: 0;
            background-color: #e7e5ff;
            top: 0;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 50%;
            right: 0;
            background-color: #e7e5ff;
            bottom: 0;
        }
    }

    &__bg {
        width: 370px;
        height: 465px;
        right: 0;
        bottom: 0;
        background-image: url("./../images/bg/orange-spiral--small.png");
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;

    &__logo {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 5px;
        color: $white-color;
    }

    &__email {
        margin-bottom: auto;
        color: $white-color;
        font-size: 20px;
        line-height: 22px;
    }

    &__copyright {
        font-size: 14px;
        line-height: 20px;
        color: $white-color;

        span {
            color: $accent-500-color;
        }
    }
}

.footer-links {
    padding: 60px 110px 60px 0;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link {
        color: $white-color;
    }
}

.offer {
    padding: 135px 0 115px;
    position: relative;

    &__inner {
        z-index: 1;
        position: relative;
    }

    &__bg {
        width: 850px;
        height: 960px;
        right: 0;
        top: 0;
        background-image: url("./../images/bg/orange-spiral--big.png");
    }
}

.offer-info {
    &__title {
        max-width: 770px;
    }

    &__text {
        font-size: 30px;
        line-height: 42px;
        margin: 60px 0 50px;
    }
}

.offer-bottom {
    margin-top: 55px;

    &__socials {
        gap: 15px;
    }

    &__socials-link i {
        color: $accent-700-color;
    }
}

.companies {
    padding: 65px 0;
    background-color: $gray-300-color;

    &__item {
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--webflow {
            height: 35px;
        }
    }
}

.statistic {
    padding: 100px 0 50px;

    &__bg--green {
        width: 580px;
        height: 590px;
        left: 0;
        top: 0;
        background-image: url("./../images/bg/triangle-big-green.png");
    }

    &__bg--pink {
        width: 160px;
        height: 180px;
        left: 25%;
        bottom: 0;
        background-image: url("./../images/bg/triangle-small-pink.png");
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.statistic-top {
    &__subtitle {
        @extend %poppins-400;
        font-size: 17px;
        text-transform: uppercase;
    }
}

.statistic-numbers {
    &__item {
        margin: 30px 0;
    }

    &__item-text {
        gap: 20px;
    }

    &__item-text__title {
        @extend %prompt-400;
        color: $accent-700-color;
    }

    &__item-text__desc {
        max-width: 380px;
    }

    &__item-num {
        @extend %prompt-400;
        line-height: 112px;
        color: $accent-600-color;
    }
}

.team {
    padding: 40px 0 100px;
    position: relative;
    z-index: 1;
}

.team-top {
    &__title {
        max-width: 515px;
    }

    &__button {
        &:first-child {
            margin-right: 30px;
        }
    }
}

.team-members {
    margin-top: 90px;

    &__marquee {
        display: flex;
        user-select: none;
        margin: 30px 0;

        ul {
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            min-width: 100%;
        }
    }
}

.member {
    max-width: 265px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__img {
        width: 220px;
        height: 220px;
        margin: 0 auto;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__fullname.title {
        margin: 15px 0 10px;
        color: $accent-700-color;
        @extend %prompt-400;
    }
}

.member.member-open {
    max-width: unset;
    align-items: baseline;
    gap: 30px;

    .member__img {
        max-width: 220px;
        max-height: 220px;
        width: 100%;
        height: 100%;
    }

    .member-top {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .member-info {
        position: relative;
        gap: 15px;

        &__close {
            position: absolute;
            right: 25px;
            cursor: pointer;

            &::before {
                content: "x";
                position: absolute;
                color: $accent-500-color;
                font-size: 42px;
            }
        }
    }

    .member__fullname.title {
        margin: 0;
        font-size: 32px;
    }

    .member-desc {
        text-align: left;
    }
}

.features {
    padding: 90px 100px;

    .features-list {
        background-color: rgba($white-color, 0.6);
        border: 1px solid #fbfbff;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba($gray-color, 0.3);
        padding: 45px;
    }

    .features-item {
        &:not(:first-child) {
            padding-left: 50px;
            border-left: 2px solid $white-color;
        }

        &__title {
            color: $accent-700-color;
        }

        &__text {
            max-width: 320px;
            margin: 25px 0 30px;
        }

        &__position {
            max-width: 280px;
            gap: 20px;
        }

        &__list {
            gap: 15px;
        }
    }

    &__bg {
        z-index: -1;
    }

    &__bg-bluecube {
        width: 235px;
        height: 235px;
        left: 10px;
        bottom: 310px;
        background-image: url(./../images/bg/cube-small-blue.png);
    }

    &__bg-purplering {
        width: 320px;
        height: 320px;
        left: 510px;
        bottom: 20px;
        background-image: url(./../images/bg/ring-medium-purple.png);
    }

    &__bg-yellowcylinder {
        width: 420px;
        height: 420px;
        right: 35px;
        bottom: 240px;
        background-image: url(./../images/bg/cylinder-medium-yellow.png);
    }
}

.features-top {
    margin-bottom: 170px;

    &__title {
        max-width: 580px;
    }
}

.advantages-video {
    padding: 45px 0 100px;

    &__top {
        margin-bottom: 85px;
    }

    &__title {
        max-width: 480px;
        width: 100%;
    }
}

.technologies {
    padding: 90px 0 100px;

    &__title {
        max-width: 470px;
        width: 100%;
    }

    &__content-item__info {
        max-width: 705px;
        width: 100%;
        gap: 50px;
    }

    &__content-item__bg--balls {
        width: 533px;
        height: 533px;
        left: 0;
        background-image: url(./../images/bg/balls-medium-orange.png);
    }

    &__content-item__bg--triangle-pink {
        width: 300px;
        height: 355px;
        right: 200px;
        background-image: url(./../images/bg/triangle-medium-pink.png);
    }

    &__content-item__bg--triangle-green {
        width: 125px;
        height: 135px;
        right: 100px;
        background-image: url(./../images/bg/triangle-small-green.png);
    }
}

.technologies-top {
    margin-bottom: 55px;
}

.technologies-item:not(:last-child) {
    margin-bottom: 50px;
}
